/*stili presi da w3school*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

button,input,select,textarea{font:inherit;margin:0}

/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}


.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.w3-bar-block .w3-button{width:100%;text-align:left;padding:8px 16px}

.w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}

.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

.w3-content{margin-left:auto;margin-right:auto}

.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}

.w3-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}

.w3-container,.w3-panel{padding:0.01em 16px}


.w3-xxlarge{font-size:36px!important}
.w3-left-align{text-align:left!important}


/*modificato*/
.elementoAccordion:hover{
    color:#404040!important;
    background-color:#cc8800!important/*#404040 grigio #d9d9d9 bianco scuro*/
    /*background-color:#d9d9d9!important/*#404040 grigio #d9d9d9 bianco scuro*/
}
.elementoAccordion{
    color:#cc8800!important;
    background-color:#404040!important;/*#cc8800 bedge #404040 grigio scuro*/
    padding-left:20%!important;
    width:80%!important;
}



.w3-button:hover{
    
    background-color: #262626;/*grigio scuro*/
    color:  #cc8800;/*bedge*/
    
}

/*non mi mpostra al barra che scorre funziona solo per chrome e safari*/
#mySidebar::-webkit-scrollbar { 
    display: none!important; 
}

#mySidebar::-moz-scrollbar { 
    display: none!important; 
}
.bottoneCliccato{
    
    background-color: #660000!important;/*bordeux*/
    color:  #cc8800!important;/*bedge*/
    pointer-events: none;/*quando viene cliccato non genera nessun evento*/
}
.bottoneCliccato:hover{
    
    background-color: #660000!important;/*bordeux*/
    color:  #cc8800!important;/*bedge*/
}